<% r_name = ["玄関","リビング","キッチン","トイレ","寝室"] %>
<header>
  <%=  image_tag("#{r_name[@lists[0].room]}文字.png", :class => "header-icon")  %>
  <%= link_to '<', {controller: 'lists', action: 'index'},{:class=>"room"} %>
</header>
<div class="container">
	<% l_onf = [] %>
	<% for n in 0..@spaces.length-1 do %>
	<% l_onf.push(0) %>
	<% end %>
	<% @lists.each do |list| %>
		<% l_onf[list.name.to_i] = list.switch %>
	<% end %>

	<div class="container">
		<div class="checklists">
			<% for i in 0..@spaces.length-1 do %>
				<% if l_onf[i] == 0 %>
				<%= image_tag("#{@spaces[i].name}.png", :class => "checklist-icon") %>
				<% else %>
				<%= image_tag("#{@spaces[i].name}チェック.png", :class => "checklist-icon") %>
				<% end %>
			<% end %>
		</div>
		<div class="plus">
		<%= image_tag("plus.png", :class => "plus-icon2") %>
		</div>
	</div>
</div>

<footer>
  <%= link_to image_tag("カレンダー（フッター）.png", :class => "footer-icon") ,lists_carender_path%>
  <%= link_to image_tag("チェックリスト選択（フッター）.png", :class => "footer-icon") ,lists_url %>
</footer>